.sidepanel {
    position: fixed;
    top: 230px;
    left: 50px;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 350px;
    &__divider {
        width: 2px;
        height: 70px;
        background-color: $text_color;
    }
    &__text {
        width: 25px;
        height: 150px;
        span {
            display: block;
            width: 150px;
            transform: rotate(-90deg) translate(-30%, -260%);
            font-weight: 700;
            font-size: 16px;
            line-height: 24px;
            color: $text_color;
        }
    }
}
